*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
img{
    width: 100%;
}
ul{
    list-style: none;
    display: inline-block;
}
.debug{
    border: 1.5px solid red;
}
/* main */
.avatar{
    width: 200px;
}
.hero-text{
    text-align: center;
}
.portfolio-text{
    text-align: center;
}
.about{
    text-align: center;
}
.download{
    color: white;
    text-decoration: none;
    border: 1px solid white;
}
.contact-me{
    text-align: center;
}
.location, .web, .freelancer{
    text-align: center;
}

/* footer */
.footer-bottom{
    text-align: center;
}


/* icons */
