*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
#portfolio img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
    display: inline-block;
}
.debug{
    border: 1.5px solid red;
}
/* main */
.avatar{
    width: 200px;
}
.download{
    color: white;
    text-decoration: none;
    border: 1px solid white;
}
/* footer */



/* icons */
